.canvas{
    align-content: center;
    color: rgb(6, 23, 80);
    display: block;
    margin: 0 auto;
    border:1px solid;
    position: absolute;
    left: 0px;
    top: 0px;
    
    image-rendering: pixelated;

    display: none;
}

html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    /*  Disable scrollbars */
    display: block;
    /* No floating content on sides */
    background-image: url("../img/map/grassArea32x9.png");
    background-repeat: no-repeat;
    background-size:cover;
}

.menuContainer {
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 600px;
    height: 300px;
    border: 2px solid grey;
    border-radius: 10px;
}

.heading {
    width: 100%;
    text-align: center;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.menu button {
    margin: 10px;
}

#settings {
    display: none;
}