.canvas{
    align-content: center;
    color: rgb(6, 23, 80);
    display: block;
    margin: 0 auto;
    border:1px solid;
    position: absolute;
    left: 0px;
    top: 0px;
    /*
    height: 100%;
    width: 100%;
    */
}

html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    /*  Disable scrollbars */
    display: block;
    /* No floating content on sides */
    background-image: url("../img/map/grassArea32x9.png");
    background-repeat: no-repeat;
    background-size:cover;
}